header.nav{
    box-sizing: border-box;
    display: flex;
    /*position: absolute;*/
    align-items: center;
    top: 0;
    left: 0;
    padding: 10px 2% 0 2%;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;

    border: 5px solid red;
    background-color : rgba(238, 130, 238, 0.5);
}

.nav-logo{
    display: inline-flex;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 282px;
    transition: .3s ease;
    /*border: 1px solid red;*/
}

.nav-logo img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    /*border: 1px solid yellow;*/
}

/*
.nav-menu-btn {
    display: block;
    border: 1px solid yellowgreen;
}

.nav-menu-btn i {
    font-size: 25px;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    border: 10px solid violet;
}

.nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
}*/

.nav .menu-profile-picture{
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 20px;
    transition: .3s ease;
}
.nav .menu-profile-picture .profile-img{
    display: flex;
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    overflow: hidden;
    height: 100%;
    aspect-ratio: 1 / 1; /*échelle 1/1; on peut prendre 16/9, ...*/
    border-radius: 50%;
    transition: .3s ease;
    background-color: rgb(230, 230, 230);
}
.nav .menu-profile-picture .profile-img img{
    cursor: pointer;
}
.nav .menu-profile-picture .profile-img.vertical-img img{
    width: 100%;
    height: auto;
}
.nav .menu-profile-picture .profile-img.horizontal-img img{
    width: auto;
    height: 100%;
}

.nav .nav-right{
    display: inline-flex;
    height: 100%;
    align-items: center;
    /*border: 1px solid violet;*/
}

/* Barres latérales (3) : menu déroulant*/
.nav-right .menu-btn {
    display: block;
    /*flex-direction: column;*/
    cursor: pointer;
    margin: 0;
    padding: 0;
    align-items: center;
    /*border: 1px solid blue;*/
}

.menu-btn .bar1, .menu-btn .bar2, .menu-btn .bar3 {
    width: 70px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    transition: 0.70s;
}
.menu-btn .bar1{
    margin: 0 0 10px 0;
}
.menu-btn .bar2{
    margin: 10px 0;
}
.menu-btn .bar3{
    margin: 10px 0 0 0;
}

.responsive .bar1 {
    transform: translate(0px, 20px) rotate(45deg);
}
.responsive .bar2 {
    transform: translate(-70px, 0);
    opacity: 0;
}
.responsive .bar3 {
    transform: translate(0px, -20px) rotate(-45deg); /*translate(0, 0px) */
}

.nav-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    /*border: 1px solid green;*/
}
.nav-button .btn{
    font-size: 13px;
    width: 130px;
    height: 40px;
    margin: 0 5px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}


.nav-menu {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    top: -100vh;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px); /*flou*/
    overflow: auto;
    transition: .3s;
}
.nav-menu.responsive {
    top: 70px;
}

.nav-menu-content{
    display: block;
    max-height: 100%;
    overflow: auto;
    /*border: 3px solid blue;*/
}
.nav-menu-content::-webkit-scrollbar{
    width: 12px; /*INDISPENSABLE : si aucune largeur n'est définie, les autres propriétés ne pourront pas s'appliquer*/
}
.nav-menu-content::-webkit-scrollbar-thumb{ /*curseur*/
    background: rgba(0, 0, 0, 0.4);;
    border-radius: 12px;
}
.nav-menu-content::-webkit-scrollbar-track{ /*gouttière*/
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    /*border: 1px solid yellow;*/
}

.nav-menu-content ul {
    list-style-type: none;
    /*display: block;*/
    margin: 0;
    padding: 0;
    flex-direction: column;
    text-align: center;
}
.nav-menu-content ul li{
    display: block;
    text-decoration: none;
    /*border: 1px solid black;*/
}

.nav-menu-content ul li .link{
    color: #fff;
    font-size: 1em;
    font-weight: 500;
}
.nav-menu-content ul li a{
    display: block;
    text-decoration: none;
    line-height: 100%; /*si non mis : espacement auto apparait*/
    margin: 0;
    padding: 15px 0;
    border-bottom: 2px solid transparent;
}

.link:hover, .link.active{
    border-bottom: 2px solid #fff;
}


/* Responsive */
@media (max-width: 800px){
    .nav-button .btn{
        width: 100px;/*130px*/
        height: 34px; /*40px*/
        border-radius: 17px;
        margin: 0 2px;
    }
}

@media (max-width: 700px){
    .nav-logo{
        width: 40%;
    }
    .nav-logo img{
        height: auto;
        max-height: 100%;
        max-width: 100%;
    }
    .nav-button{
        flex-direction: column;
    }
    .nav-button .btn{
        height: 26px;
    }
    .btn#login-btn{
        margin-top: 0;
        margin-bottom: auto;
    }
    .btn#register-btn{
        margin-top: auto;
        margin-bottom: 0;
    }

    .nav .menu-profile-picture{
        margin-right: 5px;
    }
    .nav .menu-profile-picture .profile-img{
        display: flex;
        justify-content: center; /*center horizontally*/
        align-items: center; /*center vertically*/
        overflow: hidden;
        height: 100%;
        aspect-ratio: 1 / 1; /*échelle 1/1; on peut prendre 16/9, ...*/
        border-radius: 50%;
        background-color: rgb(230, 230, 230);
    }
}

@media (max-width: 400px){
    /* Barres latérales (3) : menu déroulant*/
    .menu-btn .bar1, .menu-btn .bar2, .menu-btn .bar3 {
        width: calc(0.7 * 70px);
        height: 10px;
    }
}
/*
@media (max-width: 400px){
    .nav-logo{
        width: 50%;
    }
    .nav-button{
        display: none;
    }
}*/

@media (max-width: 330px){
    .nav-button .btn{
        font-size: 12px;
        width: 85px;
    }
    .nav .menu-profile-picture .profile-img{
        height: 90%;
    }
}
@media (max-width: 280px){
    .nav .menu-profile-picture{
        display: none;
    }
}