.profiles-block{
    display: block;
    justify-content: center;
    align-items: center;
    align-self: flex-start; /*Empeche le cadre de s'étirer sur toute la hauteur de son parent*/
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 3%;
    width: calc(100% - 2 * 3%);
    /*margin-left: calc( max(15%, 100px) + 3%);*/
        /*  1. marge en bas du cadre : 20px
            2. account_icon_bar :   width: 15%;
                                    min-width: 100px;
            => marge à gauche : max(15%, 100px). (ici on prend: max(17%, 115px); pour des questions de lisibilité)
            on prend donc 15% de marge minimum à gauche (ici 17% pour avoir 2% de marge à droite et à gauche)
        */
    /*width: calc(100% - max(15%, 100px) - 2 * 3%);*/ /* 6% = margin-right + margin-left*/
    min-width: 350px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    transition: .3s ease;
    /*border: 1px solid green;*/
}

.form_search{
    justify-content: center;
    align-items: center;
    margin: 10px;
    /*border: 1px solid red;*/
}

/*ATTENTION: à partir de là conflits possibles avec style2.css (pour .top, span ...)*/
.form_search .top{
    display: block;
    margin-bottom: 10px;
}
.form_search .top span{
    display: block;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    padding: 0;
    color: #fff;
    font-size: small;
    transition: .3s ease;
    /*border: 1px solid blue;*/
}
.form_search .top header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 0;
    margin-bottom: 5px;
    /*border: 1px solid yellow;*/
}
.form_search .search-profiles-container{
    display: flex;
    height: 40px;
    flex-direction: row;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    text-align: center;
    /*border: 1px solid salmon;*/
}
.search-profiles-container form{
    display: flex;
    align-items: center; /*center vertically*/
    justify-content: center; /*center horizontally*/
    height: 100%;
    width: 100%;
    /*border: 1px solid green;*/
}

.input-box1, .input-box2 {
    display: inline-flex;
    justify-content: center; /*align horizontally*/
    position: relative;
    color: #fff;
    /*border: 1px solid brown;*/
}
.input-box1 {
    height: 100%;
    width: calc(60% - 5px);
    /*min-width: 300px;*/
    max-width: 400px;
    margin-right: 5px;
    justify-content: end;
}
.input-box2 {
    height: 100%;
    margin-left: 5px;
    justify-content: start;
}
.input-field-search {
    color: #ffffff;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    height: 100%; /*cad 40px*/
    width: 100%;
    padding: 10px 0px;
    padding-left: 30px;
    border: none;
    border-radius: 20px;
    outline: none;
    transition: .3s ease;
    /*border: 1px solid lawngreen;*/
}
.input-field-search:hover, .input-field-search:focus {
    background: rgba(255, 255, 255, 0.25);
}

.submit-search {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    height: 100%; /*cad 40px*/
    /*min-width: 100px;*/
    max-width: 130px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit-search:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/*Liste des profils*/
.profiles-list{
    display: grid;  /*Crée une grille*/
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));/* auto-fill: prend tout l'espace sur chaque ligne
                                                                    minmax(A,B) : largeur minimale A de chaque élément de la grille, B est la largeur max.
                                                                    1fr est une unité de mesure pour les grilles : 1fr = 1 colonne*/
    gap: 20px;
    padding: 20px;
    transition: .3s ease;
    /*border: 1px solid orange;*/
}
.profiles-list .no-result{
    color: #ffffff;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1; /*pour prendre toutesles colonnes*/
    grid-row-start: 1;
    grid-row-end: 2;
    /*border: 1px solid grey;*/
}

.profile-box{
    /*margin: auto;
    width: 50%;
    min-width: 500px;
    padding: 5px;*/
    word-break: break-word;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /*border: 1px solid violet;*/
}

.profile-container{
    display: grid;  /*Crée une grille*/
    position: relative;
    grid-template-columns: 25% 75%; /*2 colonnes : 1 de 25% de large, la 2eme de 75% de large*/
    grid-template-rows: repeat(4, auto);    /*  Il y a 3 lignes en principe mais si une case "profil n°2"
                                                a moins de contenu que la case "profil n°1", une ligne va être crée pour combler l'espace.
                                                Si cette ligne n'est pas prise en compte, les boutons ne seront pas sur la dernière ligne de chaque profil
                                                mais parfois sur la 3eme, parfois sur la 4eme*/
    gap: 0;
    align-items: center;
    margin: auto;
    padding: 5px;
    border-radius: 15px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); /* ombre et flou derrière le block*/
    text-align: left;
    /*border: 1px solid red;*/
}
.profile-container:hover{
    background-color: #ffffff;
}
.profile-container .profile-pseudo {
    font-size: 1em; /*by default 1em = 16px (1em equals the computed font-size inherited)*/
    font-weight: bold;
    text-align: center;
    margin: 5px 0;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    /*border : 1px solid blue;*/
}


.profile-container .profile-picture{
    display: inline-flex;
    border-radius: 50%;
    aspect-ratio: 1 / 1; /*échelle 1/1; on peut prendre 16/9, ...*/
    overflow: hidden;
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    background-color: rgb(230, 230, 230);
    font-size: 0.7em; /*by default 1em = 16px (1em equals the computed font-size inherited)*/
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    /*border : 1px solid orange;*/
}

.profile-picture.vertical-img img{
    width: 100%;
    height: auto;
}
.profile-picture.horizontal-img img{
    width: auto;
    height: 100%;
}

.profile-container .profile-infos{
    /*display: inline-block;*/
    word-break: break-word;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    overflow: auto;
    /*border : 1px solid green;*/
}
.profile-container .profile-infos table, .profile-container button, .profile-container .delete_account{
    font-size: 0.7em; /*by default 1em = 16px (1em equals the computed font-size inherited)*/
}
.profile-infos table.profile-table{
    margin: 10px 0 10px 10px;
    /*border: 1px solid black;*/
    border-collapse: collapse;
}
table.profile-table .col1{
    display: flex;
    align-items: flex-start;
    min-width: 70px;
    padding-right: 5px;
    /*border: 1px solid black;*/
}
table.profile-table .col2{
    padding-left: 5px;
}

.profile-container .profile-btn{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: -1;
    width: 100%;
    height: 100%;
    /*border: 1px solid grey;*/
}
.profile-btn button{
    display: inline-block;
    font-size: 0.7em; /*by default 1em = 16px (1em equals the computed font-size inherited)*/
    height: calc(0.7em + 16px);
    line-height: 100%;;
    border-radius: calc((0.7em + 16px)/2);
    padding: 0 8px ;
    cursor: pointer;
    border: 1px solid rgb(90, 90, 90);
}
.profile-btn button:hover{
    background-color: #ffffff;
    border: 1px solid black;
}

/* Responsive */
@media (max-width: 520px){
    .profiles-block{
        min-width: 300px;
    }
    .profiles-list{
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));/* auto-fill: prend tout l'espace sur chaque ligne
                                                                        minmax(A,B) : largeur minimale A de chaque élément de la grille, B est la largeur max.
                                                                        1fr est une unité de mesure pour les grilles : 1fr = 1 colonne*/
        gap: 15px;
        padding: 15px;
    }
}

@media (max-width: 500px){
    .form_search .top header{
        font-size: 27px;
    }
    .form_search .top span{
        font-size: 12px;
    }
    .input-field-search{
        /*font-size: 14px;*/
        padding-left: 15px;
    }
}

@media (max-width: 470px){
    .profiles-block{
        min-width: 250px;
    }
    .profiles-list{
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));/* auto-fill: prend tout l'espace sur chaque ligne
                                                                        minmax(A,B) : largeur minimale A de chaque élément de la grille, B est la largeur max.
                                                                        1fr est une unité de mesure pour les grilles : 1fr = 1 colonne*/
        gap: 12px;
        padding: 12px;
    }
}

@media (max-width: 400px){
    .profiles-block{
        /*margin-left: calc( max(15%, 100px) + 1.5%);*/
        /*width: calc(100% - max(15%, 100px) - 2 * 1.5%);*/ /* 3% = margin-right + margin-left*/
        margin-left: 1.5%;
        width: calc(100% - 2 * 1.5%);
        min-width: 190px;
    }
    .form_search .top header{
        font-size: 25px;
    }
    .input-field-search{
        padding-left: 10px;
    }
    .profiles-list{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));/* auto-fill: prend tout l'espace sur chaque ligne
                                                                        minmax(A,B) : largeur minimale A de chaque élément de la grille, B est la largeur max.
                                                                        1fr est une unité de mesure pour les grilles : 1fr = 1 colonne*/
        gap: 5px;
        padding: 5px;
    }
    .profile-infos table.profile-table{
        margin: 5px 0 5px 5px;
    }
    table.profile-table .col1{
        min-width: 67px;
        padding-right: 2px;
    }
    table.profile-table .col2{
        padding-left: 2px;
    }

}
@media (max-width: 350px){
    .profiles-list{
        gap: 2px;
        padding: 2px;
    }
    .profile-infos table.profile-table{
        margin: 0 0 3px 5px;
    }
    .profile-container{
        padding: 2px;
    }
}