*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*marges et bordure sont incluses dans les dimensions des éléments*/
    font-family: 'Poppins', sans-serif;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}
.wrapper {
    display: flex;
    position: fixed;
    /*align-items: center;*//*center horizontally*/
    justify-content: flex-start; /*vertically at the top*/
    height: 100vh;
    width: 100vw;
    background: rgba(39, 39, 39, 0.4);
    flex-direction: column;
    overflow: auto;
}

.error_msg{
    font-size: 16px;
    line-height: 100%;
    margin: 0% 15%;
    text-align: center;
    color: rgb(255, 50, 50);
    z-index: 1000;
}
main{
    flex-grow: 1; /*take all disponible space*/
    display : flex;
    border : 5px solid yellow;
    background-color: lightseagreen;
}
.container{
    display: flex;
    flex: 1;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid violet;
}

.form-box_login, .form-box_register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    align-self: flex-start; /*Empeche le cadre de s'étirer sur toute la hauteur de son parent*/
    min-width: 300px;
    max-width: 700px;
    padding: 20px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    transition: .3s ease;
}

.box, .form-box {
    display: flex;
    word-break: break-word; /*coupe les mots plus logns que 1 ligne pour les mettre sur 2 lignes*/
    justify-content: center;
    align-items: center;
    align-self: flex-start; /*Empeche le cadre de s'étirer sur toute la hauteur de son parent*/
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    /*margin-left: calc( max(15%, 100px) + 10%);*/
        /*  1. marge en bas du cadre : 20px
            2. account_icon_bar :   width: 15%;
                                    min-width: 100px;
            => marge à gauche : max(15%, 100px).
            on ajoute 10% à gauche et à droite ici (plus beau)
        */
    /*width: calc(100% - max(15%, 100px) - 20%);*/ /* 20% = margin-right + margin-left*/
    width: calc(100% - 30%); /* 30% = margin-right + margin-left*/
    min-width: 300px;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease;
    text-align: center;

    flex: 1;
}

.top {
    display: block;
    margin-bottom: 10px;
    transition: .3s ease;
}

.top span{
    display: block;
    justify-content: center;
    padding: 10px 0;
    color: #fff;
    font-size: 13px;
}

.top span a {
    font-weight: 500;
    color: #fff;
    text-decoration: underline;
}

header{
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0;
    /*border: 1px solid blue;*/
}

.input-box, .info-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    color: #ffffff;
    transition: .3s ease;
    /*border: 1px solid green;*/
}
/*.input-box label{
    border: 1px solid violet;
}*/
.input-box label.label-hidden{
    display: none;
}
.input-box#gender .select-gender{
    display: grid; /*Crée une grille*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* auto-fill: prend tout l'espace sur chaque ligne, et comble avec des colonnes vides s'il n'y a pas assez de colonnes
                                                                    auto-fit: comme auto-fill mais les colonnes ajoutées sont de taille 0
                                                                    minmax(A,B) : largeur minimale A de chaque élément de la grille, B est la largeur max.
                                                                    1fr est une unité de mesure pour les grilles : 1fr = 1 colonne*/
    /*border: 1px solid orange;*/
}
.input-box#gender .select-gender div{
    display: flex;
    align-items: center;
    text-align: left;
}
.input-box option{
    color: black;
}

.input-box input#Profile_picture{
    display: none;
    word-break: break-word;
    /*border: 2px dashed yellow;*/
}

/*
.input-box select.input-field option{
    background: rgba(255, 255, 255, 0.2);
    color: black;
    border: 5px solid orange;
}*/

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #ffffff;
}

.Profile_picture_area{
    display: grid;
    grid-template-rows: repeat(2, auto); /* 2 lignes (ou : auto auto)*/
    row-gap: 10px;
    margin-top: 10px;
    transition: .3s ease;
    /*border: 2px solid orange;*/
}
.Profile_picture_area .PP_block_img{
    display: flex;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    transition: .3s ease;
    /*border: 2px solid orangered;*/
}
.PP_block_img .profile-img{
    display: flex;
    justify-content: center; /*center horizontally*/
    align-items: center; /*center vertically*/
    overflow: hidden;
    height: 100px;
    aspect-ratio: 1 / 1; /*échelle 1/1; on peut prendre 16/9, ...*/
    border-radius: 50%;
    transition: .3s ease;
    background-color: rgb(230, 230, 230);
    /*border: 1px solid blue;*/
}
.PP_block_img .profile-img.vertical-img img{
    width: 100%;
    height: auto;
}
.PP_block_img .profile-img.horizontal-img img{
    width: auto;
    height: 100%;
}
.PP_block_img .PP_delete-img_btn{
    margin-top: 7px;
    /*border: 3px solid magenta;*/
}

.Profile_picture_area .PP_block_btn{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);/* auto-fill: prend tout l'espace sur chaque ligne, et comble avec des colonnes vides s'il n'y a pas assez de colonnes
                                                    auto-fit: comme auto-fill mais les colonnes ajoutées sont de taille 0
                                                    ICI : on crée soit une soit 2 colonnes selon le nbre de boutons affiché.*/
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    /*border: 2px solid orangered;*/
}
.Profile_picture_area .PP_block_btn .PP_delete-img_btn{
    display: flex;
    grid-column: -2 / -1; /*  place le bouton dans l'avant-dernière colonne.
                                    On est dans le cas où il y a 2 colonnes pour afficher les 2 boutons. */
    align-items: center;
    justify-content: center;
    /*border: 2px solid brown;*/
}
.Profile_picture_area .PP_block_btn .PP_add-img_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: -1 / -1; /*  place le bouton dans la dernière colonne (-2 / -1 est l'avant-dernière colonne, ...)
                                    Cas 2 colonnes : on a 2 boutons et celui est dans la 2eme
                                    Cas 1 colonne : on a que ce bouton et il est dans la seule colonne existante*/
    /*border: 3px solid magenta;*/
}
.Profile_picture_area button{
    font-size: 15px;
    word-break: break-word;
    padding: 7px;
    background: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}
.Profile_picture_area button:hover{
    background: rgba(255, 255, 255, 0.9);
}




.login-container, .register-container, .code-container, .box-container{
    /*display: block;*/
    width: 100%;
    padding: 0;
    /*border: 1px solid yellow;*/
}

.login-container fieldset{
    width: 100%;
    border: none;
    /*border: 2px dashed purple;*/
}

.register-container .two-forms {
    flex-direction: column;
    gap: 0;
}


.input-field, .info-field {
    display: flex;
    align-items: center;        /*center vertically*/
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    text-align : left;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    padding-left: 30px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .3s ease;
}

.info-field#score{
    justify-content : center;       /*center horizontally*/
    color: rgb(0, 220, 0);
    font-weight: bold;
    font-size: 20px;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}


/* ---- personal-account.php : Icon bar ---- */
.account_icon_bar{
    display: inline-block;
    /*position: absolute;*/
    word-break: break-word; /*coupeur de mots quand mot plus grand que la ligne*/
    width: 15%;
    min-width: 100px;
    font-size: 16px;
    margin-top: 100px; /* 70px du nav + 30px margin*/
    transition: .3s ease;
}

.account_icon_bar a{
    display: block;
    width: 100%;
    padding: 30px min(3%, 15px);
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.3s ease;
}

.account_icon_bar a#first_menu{
    border-radius: 0px 30px 0px 0px;
    border: solid rgb(50, 50, 50);
    border-width:  0px 0px 3px 0px;
}
.account_icon_bar a#middle_menu{
    border: solid rgb(50, 50, 50);
    border-width:  3px 0px 3px 0px;
}
.account_icon_bar a#last_menu{
    border-radius: 0px 0px 30px 0px;
    border: solid rgb(50, 50, 50);
    border-width:  3px 0px 0px 0px;
}

a#first_menu:hover, a#middle_menu:hover, a#last_menu:hover{
    background-color: rgba(255,192,203,0.8); /*same pink as the logo*/
    width: 130%;
    border-radius: 0px 30px 30px 0px;
}

/* Responsive */
@media (max-width: 800px){
    .account_icon_bar{
        font-size: 15px;
    }
}@media (max-width: 750px){
    .account_icon_bar{
        font-size: 14.5px;
    }
}
@media (max-width: 666.67px){
    .form-box {
        margin-left: 5%;
        /*margin-left: calc( max(15%, 100px) + 5%);*/
            /*  1. marge en bas du cadre : 20px
                2. account_icon_bar :   width: 15%;
                                        min-width: 100px;
                => marge à gauche : max(15%, 100px).
                on ajoute 5% à gauche et à droite ici (plus beau)
            */
        /*width: calc(100% - max(15%, 100px) - 10%);*/ /* 10% = margin-right + margin-left*/
        width: calc(100% - 10%); /* 10% = margin-right + margin-left*/
        padding: 20px;
    }
}
@media (max-width: 500px){
    .account_icon_bar{
        font-size: 14px;
    }
}

@media (max-width: 470px){
    .form-box {
        min-width: 200px;
        padding: 10px;
    }
    .form-box_login, .form-box_register {
        width: 80%;
        min-width: 200px;
        padding: 20px;
    }
    .input-box {
        margin-bottom: 10px;
    }
    .input-box#gender .select-gender{
        font-size: 13px;
    }
    .input-field {
        font-size: 15px;
        height: 40px;
        padding-left: 30px;
    }
}

@media (max-width: 400px){
    .form-box_login, .form-box_register {
        width: 90%;
        padding: 15px;
    }
}
@media (max-width: 300px){
    .input-box {
        margin-bottom: 15px;
    }
    .top {
        margin-bottom: 15px;
    }
}