<% if (account_menu === true){ %>
    <div class="account_icon_bar" id="account_icon_bar">
        <a id="first_menu" href="/homepage">Accueil</a>
        <a id="middle_menu" href="/personalAccount">Mes données</a>
        <a id="middle_menu" href="admin.php">Espace Administrateur</a>
        <a id="middle_menu" href="/userSearch">Rechercher un autre utilisateur</a>
        <a id="middle_menu" href="/objectSearch">Rechercher un objet</a>
        <a id="last_menu" href="/logout">Déconnexion</a>
    </div>
<% } %>