<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - FDE</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/header') %>

    <main style="padding: 20px;">
        <h1>Bienvenue <%= username ? username : "utilisateur" %> 👋</h1>
        <p>Ceci est votre tableau de bord pour gérer et visualiser la production énergétique du pays.</p>

        <form action="/logout" method="GET" style="margin-top: 20px;">
            <button type="submit" style="padding: 10px 20px; background-color: #c0392b; color: white; border: none; border-radius: 4px; cursor: pointer;">
                Se déconnecter
            </button>
        </form>
    </main>

    <form id="searchForm">
        <input type="text" id="username" placeholder="Nom d'utilisateur">
        <button type="submit">Rechercher</button>
    </form>
    
    <div id="users">
        Hello
    </div>
    
    <script>
        document.getElementById('searchForm').addEventListener('submit', function(e) {
            e.preventDefault();
            console.log("HELLO")
            const username = document.getElementById('username').value;
            console.log("username")
        
            fetch('/search', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ username })
            })
            .then(response => response.json())
            .then(data => {
                const container = document.getElementById('users');
                container.innerHTML = '';
        
                if (Array.isArray(data)) {
                    data.forEach(user => {
                        const div = document.createElement('div');
                        div.classList.add('result-user');
                        div.innerHTML = `<h3>${user.login}</h3>`;
                        container.appendChild(div);
                    });
                } else {
                    container.innerHTML = `<p>${data.error}</p>`;
                }
            })
            .catch(err => {
                console.error(err);
                document.getElementById('users').innerHTML = '<p>Erreur lors de la recherche.</p>';
            });
        });
        </script>

    <%- include('partials/footer') %>
</body>
</html>