<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image" href="Logos/logo_FDE.svg">
    <link rel="stylesheet" href="css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDE : Mes informations</title>
</head>
<body style="background-image: url('Images/Background_images.jpg');">

        <%- include('partials/header') %>
        <main>
            <%- include('account_icon_bar.html'); %>
            <form id="searchForm">
                <input type="text" id="name" placeholder="Nom de l'objet">
                <button type="submit">Rechercher</button>
            </form>
            
            <div id="objects">
                Hello
            </div>
            
            <script>
                document.getElementById('searchForm').addEventListener('submit', function(e) {
                    e.preventDefault();
                    const name = document.getElementById('name').value;
                    console.log("HALLO", name)
                    fetch('/oSearch', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ name })
                    })
                    .then(response => response.json())
                    .then(data => {
                        const container = document.getElementById('objects');
                        container.innerHTML = '';
                
                        if (Array.isArray(data)) {
                            data.forEach(object => {
                                const div = document.createElement('div');
                                div.classList.add('result-object');
                                div.innerHTML = `<h3><a href="/object?obj=${object.ID}">${object.name}</a></h3>`;
                                container.appendChild(div);
                            });
                        } else {
                            container.innerHTML = `<p>${data.error}</p>`;
                        }
                    })
                    .catch(err => {
                        console.error(err);
                        document.getElementById('objects').innerHTML = '<p>Erreur lors de la recherche.</p>';
                    });
                });
                </script>
        </main>
    
        

</body>
</html>