<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image" href="Logos/logo_FDE.svg">
    <link rel="stylesheet" href="css/style2.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FDE : Mes informations</title>
</head>
<body style="background-image: url('Images/Background_images.jpg');">

        <%- include('partials/header') %>
        <main>
            <%- include('account_icon_bar.html'); %>

            <div class="form-box">
                <div class="login-container">
                    <form id="searchForm">
                        <div class="input-box">
                            <label for="username">Login de l'utilisateur</label>
                            <input type="text" id="username" placeholder="Nom d'utilisateur" class="input-field">
                        </div>
                        <div class="input-box">
                            <input type="submit" class="submit" value="Rechercher">
                        </div>
                    </form>
                    <div id="users">
                        Results...
                    </div>
                </div>
            </div>

            <script>
                document.getElementById('searchForm').addEventListener('submit', function(e) {
                    e.preventDefault();
                    const username = document.getElementById('username').value;
                
                    fetch('/uSearch', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ username })
                    })
                    .then(response => response.json())
                    .then(data => {
                        const container = document.getElementById('users');
                        container.innerHTML = '';
                
                        if (Array.isArray(data)) {
                            data.forEach(user => {
                                const div = document.createElement('div');
                                div.classList.add('result-user');
                                div.innerHTML = `<h3><a href="/profile?user=${user.ID}">${user.login}</a></h3>`;
                                container.appendChild(div);
                                container.appendChild(document.createElement('br'))
                            });
                        } else {
                            container.innerHTML = `<p>${data.error}</p>`;
                        }
                    })
                    .catch(err => {
                        console.error(err);
                        document.getElementById('users').innerHTML = '<p>Erreur lors de la recherche.</p>';
                    });
                });
                </script>
        </main>
    
        

</body>
</html>